<h1><%= t 'groups.new.title' %></h1>
<%= semantic_form_for @group do |f| %>
  <%= f.inputs :name %>
  <%= f.buttons do %>
    <%= f.commit_button :label => t('groups.new.submit') %>
  <% end %>
<% end %>
