%p= @group.name
= link_to t('.edit'), edit_group_path(@group) if user_signed_in? && @group.owner == current_user
= link_to t('.games'), group_games_path(@group)
#group_users
  - if user_signed_in?
    - if @group.users.exists? current_user
      = link_to t('.leave'), leave_group_path(@group), :method => :post
    - elsif @group.hospitable?
      = link_to t('.join'), join_group_path(@group), :method => :post
  %ul
    - @group.users.each do |user|
      %li
        = content_tag :span, render(user), :class => (@group.user_is_admin?(user) ? 'admin' : nil)
        = link_to t('.remove_member'), remove_member_group_path(@group, :username => user.username), :method => :post if @group.user_is_admin?(current_user)
        - if @group.owner == current_user
          - if @group.user_is_admin?(user)
            = link_to t('.unset_admin'), manage_admins_group_path(@group, :unset => user.username), :method => :post
          - else
            = link_to t('.set_admin'), manage_admins_group_path(@group, :set => user.username), :method => :post
  = link_to t('.new_invitation'), new_group_invitation_path(@group) if user_signed_in? && @group.user_is_admin?(current_user)
#posts
  = render @group.posts
  = link_to t('.new_post'), new_group_post_path(@group) if @group.user_can_post?(current_user)
#games
  = link_to t('.new_game'), new_group_game_path(@group) if @group.user_can_announce_game?(current_user)
