<p><%= @group.name %></p>
<%= link_to t('groups.leave.link'), leave_group_path(@group) if user_signed_in? && @group.users.exists?(current_user) %>

<ul id="group_users">
  <% @group.users.each do |user| %>
    <li>
    <%= link_to user.username, user_path(user.username), :class => (@group.user_is_admin?(user) ? 'admin' : nil) %>
    <%= link_to t('groups.manage_members.remove.link'), manage_members_group_path(@group, :remove => user.username), :method => :post if @group.user_is_admin?(current_user) %>
    <% if @group.owner == current_user %>
      <% if @group.user_is_admin?(user) %>
        <%= link_to t('groups.manage_admins.unset_link.name'), manage_admins_group_path(@group, :unset => user.username), :method => :post %>
      <% else %>
        <%= link_to t('groups.manage_admins.set_link.name'), manage_admins_group_path(@group, :set => user.username), :method => :post %>
      <% end %>
    <% end %>
    </li>
  <% end %>
</ul>

<%= render 'groups/add_user_form' if @group.user_is_admin?(current_user) %>
