.invitation
  = render invitation.group
  = t('.from')
  = render invitation.inviter
  = link_to t('.accept'), accept_invitation_path(invitation), :method => :post
  = link_to t('.decline'), decline_invitation_path(invitation), :method => :post
