%article[game]
  %p= game.description
  %p
    = render 'shared/date', :date => game.date
    = game.place
    = render game.announcer
    = participation_link game, current_user
    = link_to t('.show'), game_path(game)
