%div[@game]
  = simple_form_for @game do |f|
    = f.input :date
    = f.input :description
    = f.input :place
    = f.input :buyin
    = f.input :rebuy
    = f.input :addon
    = f.submit t('.submit')
