- inside_group @game.group
#game{ :class => @game.archived? ? 'archived' : 'active' }
  %h2
    = t('.archived') if @game.archived?
    = render 'game_type', :game => @game
  %p
    = render 'shared/date', :date => @game.date
    %span{ :title => t('activerecord.attributes.game.place') }= @game.place
    = link_to t('.edit'), edit_game_path(@game) if @game.can_be_edited_by?(current_user)
  %p#description
    = render(@game.announcer)
    = @game.description

  #players
    %h2= t('.participations')
    - if @game.archived?
      = render @game.participations
    - else
      = render @game.players
  = participation_link @game, current_user unless @game.archived?
