<h2><%= t 'devise.sessions.new.title' %></h2>

<%= semantic_form_for(resource, :url => session_path(resource_name)) do |f| %>
  <%= f.inputs do %>
    <%= f.input :login %>
    <%= f.input :password %>

    <% if devise_mapping.rememberable? -%>
      <%= f.input :remember_me, :as => :boolean %>
    <% end -%>

  <% end %>
  
  <%= f.buttons do %>
    <%= f.commit_button :label => t('devise.sessions.new.submit') %>
  <% end %>

<% end %>

<%= render :partial => "devise/shared/links" %>
