%h2= t('.title')
= simple_form_for(resource, :url => session_path(resource_name)) do |f|
  = f.input :login, :autofocus => true
  = f.input :password, :required => false
  - if devise_mapping.rememberable?
    = f.input :remember_me, :as => :boolean
  = f.submit t('.submit')
= render 'devise/shared/links'
