%h1= @post.title
#sub_header= link_to @post.group.name, @post.group
#post.post
  %p= @post.body.html_safe
  .post_data
    = render @post.author
    = l @post.created_at
    = link_to t('.edit'), edit_post_path(@post) if @post.can_be_edited_by?(current_user)
#post_comments
  = render @post.root_comments
= render 'comments/form' if @comment.present? and @comment.parent_id.nil?

