#logo
  = link_to 'P27', root_path
%nav#authentication
  - if user_signed_in?
    -#= render current_user   <-- this line fails in acceptance/user_registration_confirmation_spec, maybe this is a bug?
    = render :partial => 'users/user', :locals => { :user => current_user }
    = link_to t('.logout'), destroy_user_session_path
  - else
    = link_to t('.login'), new_user_session_path
    = link_to t('.registration'), new_user_registration_path
= render 'layouts/flashes'
#page_header
  = content_tag :h1, body_title unless body_title.blank?
  - if content_for? :submenu
    %nav#submenu= yield :submenu

