<!DOCTYPE html>
<html>
<head>
  <title>P27</title>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag 'formstatic' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

  <%= render 'layouts/notifications' %>
  <%= render 'layouts/authentication' %>

  <%= yield %>

</body>
</html>
